body {
  background-color: black;
  color: yellow;
  padding: 6px;

  #root {
    display: flex;
    flex-direction: column;

    .preview-box {
      display: flex;
      align-items: center;
      span {
        color: yellow;
        padding-right: 6px;
      }
      @media only screen and (max-width: 600px) {
        flex-direction: column;

        input {
          width: 95%;
        }
      }
    }

    .editors {
      display: flex;
      box-sizing: border-box;
      padding: 24px;
      width: 100%;
      justify-content: space-evenly;

      @media only screen and (max-width: 600px) {
        flex-direction: column-reverse;
        padding: 6px;
      }
    }

    .action-buttons {
      display: flex;
      width: 100%;
      flex-direction: row;
      flex-flow: row wrap;
      justify-content: flex-start;
      text-align: center;

      @media only screen and (max-width: 600px) {
        justify-content: center;

        .button {
          max-width: 135px;
          width: 100%;
        }
      }
    }

    .sprite-data-line {
      padding: 6px;
      color: black;
      font-size: 12px;
    }
  }
}
