.frame-data-editor {
  padding: 12px;
  background-color: white;
  color: black;
  line-height: 150%;

  textarea {
    width: 100%;
    min-height: 300px;
  }

  .btn-copy {
    border: 1px solid black;
    background-color: yellow;
    color: black;
    padding: 3px 6px;
    margin: 6px 0;
    border-radius: 3px;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
